#header {
    width: 100%;
    height: 90px;
    margin: 0px auto;
    margin-top: 8px;
    
}

.grid-item{
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#div_main{
    width: 100%;
    height: auto;
    margin: 0px auto;
    /*border: 3px solid black;
    border-radius: 8px;
    box-shadow: 18px 18px 0px #212529; */
    overflow: hidden;
}

.page-header {
    padding-bottom: 5px;
    margin: 5px 0 15px;
    border-bottom: 1px solid #919191;
  }

  #span-results{
    font-size: 25px;
}

.intrucciones{
    font-size: 25px;
}
 /*Responsive image*/
 @media (max-width: 575.98px) { 
    /*body{background: red;}*/

    #header{
      height: 20px;  
      margin-bottom: 20px;   
    }

    #tabla-Imc{
        width: 250px;
        height: auto;
        margin-bottom: 10px;
    }

    #span-results{
        font-size: 20px;
    }

    .intrucciones{
        font-size: 18px;
    }
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
   /*body{background: green;}*/

   #header{
    height: 20px;     
  }

  #tabla-Imc{
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .intrucciones{
    font-size: 18px;
    }
    
}

 @media (min-width: 768px) and (max-width: 991.98px) { 
   /*body{background: yellow;}*/
    
   #header{
    height: 20px;     
  }

  #tabla-Imc{
      width: 570px;
      height: auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }

 }

/*@media (min-width: 992px) and (max-width: 1199.98px) { 
    body{background: blue;}
       
 }

@media (min-width: 1200px) { 
    body{background: blueviolet;}

 }*/